<form>
    <div>
        <label for="hex-size">Hex Size:</label>
        <input type="number" id="hex-size" name="hex-size" min="50" max="200" value="100">
    </div>
    <div>
        <label for="terrain-type">Terrain Type:</label>
        <select id="terrain-type" name="terrain-type">
            <option value="mixed">Mixed</option>
            <option value="lush">Lush</option>
            <option value="rocky">Rocky</option>
            <option value="snowy">Snowy</option>
            <option value="desert">Desert</option>
        </select>
    </div>
</form>